<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome to Wardrobe 2.0!</h1>
                <h2>Now with separate accounts and all that good stuff...</h2>
            </hgroup>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>Here are the things you'll be able to do with this app:</h3>
        <ul>
            <li>
                Alexa, tell LOIS I'm wearing my blue polo
            </li>
            <li>
                ...my blue polo is dirty
            </li>
            <li>
                ...I'm doing laundry (I've done laundry)
            </li>
            <li>
                ...what should I wear today
            </li>
            <li>
                ...I bought a new blue polo from express
            </li>
            <li>
                ...I've donated my blue polo
            </li>
            <li>
                ...my blue polo needs repair
            </li>
            <li>
                ...I've repaired my blue polo
            </li>
        </ul>
    </section>
</div>
